#footer {
  background: #f1f1f1;
  .product_info_sec {
    padding-top: 15px;
    .small_title {
      h5 {
        color: #606060;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
      }
    }
    .mini_title {
      a {
        color: #333333;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .CategoriesAndBrands {
      margin-bottom: 10px;
      line-height: 15px;
      span {
        a {
          display: inline-block;
          font-size: 12px;
          color: #888888;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .product_info_title {
      h4 {
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 0 10px;
        color: #606060;
      }
    }
    p {
      font-size: 12px;
      line-height: 18px;
      margin: 0px 0px 25px 0px;
      color: #888888;
    }
  }
  .secound_sec {
    a {
      color: #199cb7;
      &:hover {
        text-decoration: underline;
      }
    }
    .tranding {
      h4 {
        font-size: 16px;
        color: #606060;
        font-weight: 300;
        line-height: 20px;
      }
      span {
        a {
          display: inline-block;
          line-height: 10px;
          font-size: 12px;
          color: #888888;
        }
      }
    }
  }
}
