// Banner section start 
#home_banner{
    .home_banner_slider{
        .home_banner_slider_item{
            height: 345px;
            background-position: center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;

        }
    }
}
// Banner section end 