$primary_color:#F85606;
$TextColor:#000000;
$secoundry_color:#757575;
$third_color:#212121;
$fourth_color:#202020;
$mini_heading:#424242;
$sidebar_hover:#3C9FB9;
$bg_color:#e7e8ec;
$bg_color2:#ECECEC;
$Background_color:#F5F5F5;
$product_bg:#ffffff;
$shadow1:0 0 2px 0 rgba(0,0,0,.25);